<footer>
    <div id="footer-info">
        <div id="footer-intro">
            <div id="footer-logo">
                <img src="/icons/logo.svg" alt="LOGO" id="footer-img">
                <span id="project-name-1">COR</span><span id="project-name-2">shield</span>
            </div>
            <div id="footer-about-us">
                CORshield is an initiative to spread awareness about Coronavirus. It helps users gain more information about COVID-19, explore statistics based on regions and assess themselves.
            </div>
        </div>
        <div id="quick-links">
            <h1>Quick Links</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/map-explorer">Map Explorer</a></li>
                <li><a href="">Assess Yourself</a></li>
                <li><a href="">About</a></li>
             </ul>
        </div>
    </div>
    <div id="copyright-statement">
        @ 2020 Copyright: CORshield
    </div>
</footer>