<footer>
    <div id="footer-info">
        <div id="footer-intro">
            <div id="footer-logo">
                <img src="/icons/logo.svg" alt="LOGO" id="footer-img">
                <span id="project-name-1">COR</span><span id="project-name-2">shield</span>
            </div>
            <div id="footer-about-us">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod labore quo ratione laboriosam asperiores accusantium aspernatur ducimus quas, omnis voluptatibus similique, aliquid doloribus quaerat. Soluta placeat adipisci culpa labore qui.
            </div>
        </div>
        <div id="quick-links">
            <h1>Quick Links</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/map-explorer">Map Explorer</a></li>
                <li><a href="/assess-yourself">Assess Yourself</a></li>
                <li><a href="">About</a></li>
             </ul>
        </div>
    </div>
    <div id="copyright-statement">
        @ 2020 Copyright: Deeksha Madan, Prateek Grewal
    </div>
</footer>