<nav>
    <div id="project-id">
        <img src="/icons/logo.svg" alt="LOGO" id="logo">
        <span id="project-name-1">COR</span><span id="project-name-2">shield</span>
    </div>
    <div id="nav-menu">
        <a href="/">
        <span <% if(active== "home"){ %>class="live" <% } %>>Home</span></a>
        <a href="/map-explorer"><span <% if(active== "map-explorer"){ %>class="live" <% } %>>Map Explorer</span></a>
        <a href="/assess-yourself"><span <% if(active== "assess"){ %>class="live" <% } %>>Assess Yourself</span></a>
        <a href="/helpline"><span <% if(active== "helpline"){ %>class="live" <% } %>>Helpline</span></a>
    </div>

</nav>