<!DOCTYPE html>
<html>
    <head>
        <title>CORshield</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/footer.css">
        <link rel="stylesheet" href="/CSS/helpline.css">
        
    </head>
    <body>
        <nav>
            <div id="project-id">
                <img src="/icons/logo.svg" alt="LOGO" id="logo">
                <span id="project-name-1">COR</span><span id="project-name-2">shield</span>
            </div>
            <div id="nav-menu">
                <a href="/">Home</span></a>
                <a href="/map-explorer"><span>Map Explorer</span></a>
                <a href="#"><span>Assess Yourself</span></a>
                <a href="/helpline"><span class="live"><span>Helpline</span></a>
            </div>
        </nav>

        <div id="helpline-intro">
            <img src="/images/warriors.jpg" width="850px" alt="">
            <h3>Helpline Numbers</h3>
        </div>

        <div class="helpline-nos">
            <table class="state-table">
                <thread>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Name of State</th>
                        <th scope="col">Helpline Nos.</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Andhra Pradesh</td>
                        <td>0866-2410978</td>  
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Arunachal Pradesh</td>
                        <td>9436055743</td>  
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Assam</td>
                        <td>6913347770</td>  
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Bihar</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Chhattisgarh</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Goa</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Gujarat</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Haryana</td>
                        <td>8558893911</td>  
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Himachal Pradesh</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Jharkhand</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Karnataka</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Kerala</td>
                        <td>0471-2552056</td>  
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Bihar</td>
                        <td>0866-2410978</td>  
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td>Madhya Pradesh</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>Maharashtra</td>
                        <td>020-26127394</td>  
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td>Manipur</td>
                        <td>3852411668</td>  
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td>Meghalaya</td>
                        <td>108</td>  
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td>Mizoram</td>
                        <td>102</td>  
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td>Nagaland</td>
                        <td>7005539653</td>  
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td>Odisha</td>
                        <td>9439994859</td>  
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td>Punjab</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td>Rajasthan</td>
                        <td>0141-2225624</td>  
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td>Sikkim</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td>Tamil Nadu </td>
                        <td>044-29510500</td>  
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td>Telangana </td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td>Tripura</td>
                        <td>0381-2315879</td>  
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td>Uttarakhand</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">28</th>
                        <td>Uttar Pradesh</td>
                        <td>18001805145</td>  
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>West Bengal</td>
                        <td>1800313444222, 03323412600</td>  
                    </tr>
                </tbody>
            </table>

             <table class="ut-table">
                <thread>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Name of Union Territory</th>
                        <th scope="col">Helpline Nos.</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Andaman and Nicobar
Islands</td>
                        <td>03192-232102</td>  
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Chandigarh</td>
                        <td>9779558282</td>  
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Dadra and Nagar Haveli and Daman & Diu</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Delhi</td>
                        <td>011-22307145</td>  
                    </tr>
                   <tr>
                        <th scope="row">5</th>
                        <td>Delhi</td>
                        <td>011-22307145</td>  
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Jammu & Kashmir</td>
                        <td>01912520982, 0194-2440283
</td>  
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Ladakh</td>
                        <td>01982256462</td>  
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Lakshadweep</td>
                        <td>104</td>  
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Puducherry</td>
                        <td>104</td>  
                    </tr>
            </table>
            </div>
        </div>

        
        <!-- Footer -->
        <%- include("_footer"); %>
        




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script> 
    </body>
</html>