<!DOCTYPE html>
<html>
    <head>
        <title>CORshield</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/footer.css">
        <link rel="stylesheet" href="/CSS/home.css">
        
    </head>
    <body>
        <nav>
            <div id="project-id">
                <img src="/icons/logo.svg" alt="LOGO" id="logo">
                <span id="project-name-1">COR</span><span id="project-name-2">shield</span>
            </div>
            <div id="nav-menu">
                <a href="/"><span class="live">Home</span></a>
                <a href="/map-explorer"><span>Map Explorer</span></a>
                <a href="/assess-yourself"><span>Assess Yourself</span></a>
                <a href="#"><span>About</span></a>
            </div>
        </nav>

        <div id="project-intro">
            <div id="project-desc">
                <h3>Shielding you from <span id="covid-color">Covid-19</span></h3>
                <p>An initiative to spread awareness about Coronavirus. You can read information about Covid-19, its symptoms and precautions, and even <a href="#">ASSESS YOURSELF</a>. Explore trends in coronavirus across the world and in India with our <a href="map-explorer">MAP EXPLORER</a></p>
            </div>
            <img src="/images/fighting corona.gif" width="850px" alt="">
        </div>

        <div id="corona-overview">
            <img src="/images/corona.gif" alt="">
            <div id="corona-intro">
                <h3>
                    What is COVID-19?
                </h3>
                <div>
                    Coronavirus disease or COVID-19 is an infectious disease caused by a newly discovered
                    coronavirus. It is caused by SARS-CoV-2 that can trigger what doctors call a respiratory tract
                    infection. It can affect your upper respiratory tract (sinuses, nose, and throat) or lower
                    respiratory tract (windpipe and lungs). It spreads the same way other coronaviruses do,
                    mainly through person-to-person contact. Infections range from mild to deadly.
                </div>
            </div>
        </div>

        <div id="symptoms">
            <h1>SYMPTOMS</h1>
            <div id="symptoms-container">
                <ul>
                    <li>Fever</li>
                    <li>Dry Cough</li>
                    <li>Tiredness/Fatigue</li>
                    <li>Diarrhoea</li>
                    <li>Shortness of Breath</li>
                    <li>Pneumonia</li>
                </ul>
                <div id="symptom-icons">
                    <img src="/icons/fever.svg" alt="">
                    <img src="/icons/cough.svg" alt="">
                    <img src="/icons/tiredness.svg" alt="">
                    <img src="/icons/diarrhea.svg" alt="">
                    <img src="/icons/difficulty-breathing.svg" alt="">
                    <img src="/icons/pneumonia.svg" alt="">
                </div>
            </div>
        </div>

        <div id="hospital-disclaimer">
            <img src="/icons/hospital.svg" alt="">
            <div id="disclaimer">
                Seek immediate medical attention if you have serious symptoms. Always call before visiting your
                doctor or health facility. People with mild symptoms who are otherwise healthy should manage their
                symptoms at home. On average it takes 5–6 days from when someone is infected with the virus for
                symptoms to show, however it can take up to 14 days.
            </div>
        </div>


        <div id="transmission">
            <h1>MODES OF TRANSMISSION </h1>
            <div id="modes">
                <div id="p-to-p" class="transmission-card">
                    <img src="/icons/transmission.svg" alt="">
                    <div>
                        Person-to-Person Transmission
                    </div>
                </div>
                <div id="surface" class="transmission-card">
                    <img src="/icons/contaminated.svg" alt="">
                    <div>
                        Contaminated Surface Transmission
                    </div>
                </div>
            </div>
        </div>

        <div id="precautions">
            <h1>PRECAUTIONS</h1>
            <div id="precautions-container">
                <div id="precautions-icons">
                    <img src="/icons/hand_washing.svg" alt="">
                    <img src="/icons/avoid_eye.svg" alt="">
                    <img src="/icons/cover-cough.svg" alt="">
                    <img src="/icons/wear-mask.svg" alt="">
                    <img src="/icons/stay-home.svg" alt="">
                    <img src="/icons/social-distancing.svg" alt="">
                </div>
                <ul>
                    <li>Wash your Hands</li>
                    <li>Avoid Touching your Face and Eyes</li>
                    <li>Practice Respiratory Hygiene</li>
                    <li>Wear a mask if you step outside</li>
                    <li>Stay home if unwell</li>
                    <li>Practice social distancing</li>
                </ul>
            </div>
        </div>

        <div id="explorer-section">
            <div id="black-overlay">

            </div>
            <div id="explorer-content">
                <h2>
                    MAP EXPLORER
                </h2>
                <div>
                    Explore the latest statistics on coronavirus cases by region on the World Map and India Map.
                </div>
                <a href="/map-explorer">
                    <button type="button">
                        TRY IT
                    </button>
                </a>
            </div>
        </div>

        <!-- Footer -->
        <%- include("_footer"); %>
        




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script> 
    </body>
</html>