<!DOCTYPE html>
<html>
    <head>
        <title>
            CORshield
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/footer.css">
        <link rel="stylesheet" href="/CSS/map-explorer.css">
        
    </head>
    <body>
        <nav>
            <div id="project-id">
                <img src="/icons/logo.svg" alt="LOGO" id="logo">
                <span id="project-name-1">COR</span><span id="project-name-2">shield</span>
            </div>
            <div id="nav-menu">
                <a href="/"><span >Home</span></a>
                <a href="/map-explorer"><span class="live">Map Explorer</span></a>
                <a href="/assess-yourself"><span>Assess Yourself</span></a>
                <a href="/helpline"><span>Helpline</span></a>
            </div>
        </nav>

        <div id="map-explorer">
            <h1>MAP EXPLORER</h1>
            <div id="map-intro">
                Explore the latest statistics on coronavirus cases by region on the World Map and India Map.
            </div>
            <div id="toggle-button">
                <span class="selected" id="world-toggle"> WORLD </span>
                <span id="india-toggle"> INDIA </span>
            </div>
            <div id="map-container">
                <div id="world-map" class="map-display">
                    <%- include("_world-map"); %>
                </div>
                <div id="india-map" class="map-display no-display" >
                    <%- include("_india-map"); %>
                </div>
                <div id="stats-display" >
                    <span id="name">
                        <img src="" alt="">
                        <span></span>
                    </span>
                    <span id="total-cases" class="column-display">
                        <span id="total-number" class="red"></span>
                        <span class="grey smaller-font">Confirmed</span>
                    </span>
                    <span id="recovered" class="column-display">
                        <span id="recovered-number" class="green"></span>
                        <span class="grey smaller-font">Recovered</span>
                    </span>
                    <span id="deaths" class="column-display">
                        <span id="deaths-number" class="grey"></span>
                        <span class="grey smaller-font">Deaths</span>
                    </span>
                </div>
            </div>
        </div>
        

        <!-- Footer -->
        <%- include("_footer"); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>   
    <script src="/JS/map.js"></script>
    </body>
</html>