

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    color: #0f0d14;
}
/*---------------------- main----------- */

main{
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    font-size: 2.5rem;
    background: -webkit-linear-gradient(#43d8c9, #BC78FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main h1::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    background: rgb(188,120,255);
    background: linear-gradient(90deg, rgba(188,120,255,1) 30%, rgba(67,216,201,1) 70%);
    transition: width .5s;
}

main h1:hover::after{
    width:100%;
    transition: width .5s;
}

#tool-disclaimer{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
    align-items: center;
    padding-bottom:20px;
    border-bottom:  1px dashed grey;
}

#tool-disclaimer span{
    margin-top: 15px;
}

#tool-disclaimer a{
    color:rgb(188,120,255);
}
/* -------------------------form--------------------------- */

#form-heading{
    padding-top: 20px;
    font-size: 1.8rem;
    width: 100%;
    padding: 0 85px;
    margin:40px 0 20px 0;
    font-weight: 700;
    color:#bc78ff;
    text-decoration: underline;
    text-align: center;
}

form{
    width: 100%;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
}

#basic-details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#basic-details h2{
    width: 100%;

}

#basic-details div{
    margin:20px 0;
    font-size: 1.2rem;
    width: 30%;
}

#basic-details div input{
    border: none;
    border-bottom:2px solid black ;
    height: 30px;
    font-size: 1.2rem;
    outline: none;
}

#contact-history{
    width: 100%;
    margin: 20px 0;
}

#contact-history span{
    font-size: 1.2rem;
    margin-right: 20px;
}


#symptoms{
    width: 100%;
    margin: 20px 0;
}

#symptoms div{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

#symptoms span{
    font-size: 1.2rem;
    width: 35% ;
    margin: 10px ;
    /* margin-right: 80px; */
}

#chronic-illness{
    width: 100%;
    margin: 20px 0;
}

#chronic-illness div{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

#chronic-illness span{
    font-size: 1.2rem;
    width: 35% ;
    margin: 10px ;
    /* margin-right: 80px; */
}

form button{
    width: 15%;
    height: 50px;
    align-self: center;
    margin: 40px;
    font-size: 1.4rem;
    color:white;
    background: #7579e7;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

form button:hover{
    background: white;
    color:#7579e7;
    border: 1px solid #7579e7;
}

.no-display{
    display: none;
}



/*----------------------------------------------------- assessment results-------------------------------------- */

#results-heading{
    font-size: 2rem;
    width: 100%;
    padding: 0 85px;
    margin:40px auto 20px;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    color:#bc78ff;
}

.result-headline{
    width: 100%;
    font-size: 2.5rem;
    padding: 0 85px;
    margin:20px auto 20px;
    text-align: center;
}

.result-subheading{
    width: 100%;
    font-size: 1.2rem;
    padding: 0 85px;
    margin:20px auto 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .result-subheading ul{
    text-align: left;
} 

.result-subheading-list{
    width: 100%;
    font-size: 1.2rem;
    padding: 0 100px;
    margin:20px auto 20px;
}


#go-back-link{
    color: black;
    font-size: 1.1rem;
    width: 100%;
    /* text-align: center; */
    /* padding: 40px 40%;
    margin-top: 50px; */
}

#link-container{
    width: 100%;
    padding: 40px 40%;
}
