

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    color: #0f0d14;
}

/* -------------------resources intro------------------------- */

#helpline-intro{
    width: 100%;
    position: relative;
    text-align: center;
    color: black;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    height: 50%;
    font-weight: 600px;
}
#helpline-intro h3{
    font-size: 1.8rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(93,183,210,0.85);
    padding: 5px 10px;
    color: white;
    outline: 2px dashed black;
}

#helpline-intro img{
    width: 50%;
    height: auto;
    align-content: center;
    margin-left: 25%;
    padding-bottom: 0px;
}

/*--------------------------helpline nos-------------------------*/
.helpline-nos{
    margin: auto;
    width: 50%;
    padding: 20px;
    padding-left: 65px;
}

.helpline-nos th{
    text-align: left;
    text-decoration: bold;
}

.helpline-nos th,td{
    padding:5px 20px;
    text-align: left;
    border-bottom: 1px solid grey;
}
.state-table{
    margin-bottom: 10px;
    padding:0px 20px 40px 20px;
}

.state-table th{
    color: rgba(93,183,210);
}
.state-table tr:hover{
    background: rgba(195,117,231,0.2);
}

.ut-table{
    margin-bottom: 20px;
    padding:40px 20px 40px 20px;
}
.ut-table th{
    color: rgb(195,117,231);
}
.ut-table tr:hover{
    background: rgba(93,183,210,0.3);
}





