

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    color: #0f0d14;
}

/* -------------------project intro------------------------- */

#project-intro{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    height: 50%;
    font-weight: 600px;
}
#project-intro h3{
    font-size: 1.8rem;
}
#covid-color{
    background: -webkit-linear-gradient(#43d8c9, #BC78FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#project-intro a{
    text-decoration: none;
    color: #548CF0;
    font-weight: bold;
}


#project-desc{
    width: 40%;
    /* border: 1px solid green; */
    height: 100%;
    padding: 15px;
}

#project-intro img{
    width: 58%;
}


/* --------------------corona intro------------------------ */

#corona-overview{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    height: 400px;
    color:#0f0d14;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#corona-overview img{
    width: 30%;
}

#corona-intro{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    /* justify-content: center; */
}

#corona-intro h3{
    font-size: 2.4rem;
    color:#bc78ff;
}

#corona-intro h3::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    background: rgb(67,216,201);
    background: linear-gradient(90deg, rgba(67,216,201,1) 30%, rgba(188,120,255,1) 70%);
    transition: width .5s;
}

#corona-intro h3:hover::after{
    width:100%;
    transition: width .5s;
}



#corona-intro div{
    font-size: 1.1rem;
    padding-left: 5%;
    text-align: justify;
}


/* -------------------------symptoms-------------------------------------- */

#symptoms{
    width: 100%;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

#symptoms h1{
    margin: 3%;
    font-size: 2.4rem;
    color: #43d8c9;
}

#symptoms h1::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    background: rgb(188,120,255);
    background: linear-gradient(90deg, rgba(188,120,255,1) 30%, rgba(67,216,201,1) 70%);
    transition: width .5s;
}

#symptoms h1:hover::after{
    width:100%;
    transition: width .5s;
}

#symptoms-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#symptom-icons{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

#symptom-icons img{
    width: 30%;
    padding: 4%;
}



#symptoms-container ul{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 2.5%;
    /* border: 1px solid green; */
}

#symptoms-container ul li{
    font-size: 1.2rem;
    margin-top: 3%;
    margin-left: 4%;
}


/* -------hospital disclaimer--------- */

#hospital-disclaimer{
    width: 100%;
    padding: 30px 70px;
    display: flex;
    margin: 5% 0;
    background: rgba(139,205,205,0.5);
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}

#hospital-disclaimer img{

    width: 5%;
}

#hospital-disclaimer div{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-left: 3%;
}



/* ---------------------------transmission-------------------------- */


#transmission{
    
    width: 100%;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#transmission h1{
    margin: 0 5% 5%;
    font-size: 2.4rem;
}

#transmission h1::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    background: rgb(67,216,201);
    background: linear-gradient(90deg, rgba(67,216,201,1) 30%, rgba(188,120,255,1) 70%);
    transition: width .5s;
}

#transmission h1:hover::after{
    width:100%;
    transition: width .5s;
}


#modes{
    width: 100%;
    display: flex;
    justify-content: center;
}

.transmission-card{
    width: 25%;
    padding:4%;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.transmission-card img{
    width: 100%;
}

.transmission-card div{
    font-size: 0.8rem;
    margin-top:10%;
    text-align: center;
}


/* -----------------precautions------------------ */


#precautions{
    width: 100%;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

#precautions h1{
    margin: 5%;
    font-size: 2.4rem;
    color:#43d8c9;
}


#precautions h1::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    background: rgb(188,120,255);
    background: linear-gradient(90deg, rgba(188,120,255,1) 30%, rgba(67,216,201,1) 70%);
    transition: width .5s;
}

#precautions h1:hover::after{
    width:100%;
    transition: width .5s;
}


#precautions-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#precautions-icons{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

#precautions-icons img{
    width: 30%;
    padding: 4%;
}



#precautions-container ul{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 2.5%;
    /* border: 1px solid green; */
}

#precautions-container ul li{
    font-size: 1.2rem;
    margin-top: 3%;
    margin-left: 4%;
}


/* -------------------------EXPLORER --------------------------------- */


#explorer-section{
    width: 100%;
    height: 600px;
    padding: 0 70px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-image: url("/images/world_green.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

#black-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

#explorer-content{
    width: 60%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#explorer-content h2{
    /* margin: 5%; */
    font-size: 3rem;
}

#explorer-content div{
    font-size: 1.5rem;
}

#explorer-content a{
    margin-bottom:7%;
}

#explorer-content a button{
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    border:none;
    cursor: pointer;
    color: white;
    background: #44BFB3;  
    border-radius: 10px;
    transition: .5s;
}



#explorer-content button:hover{
    border: 2px solid #44BFB3;
    background: white;
    color: #44BFB3;
    transition: .5s;


}





