

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    color: #0f0d14;
}
/* ---------------------nav-bar----------------------- */

nav{
    width: 100vw;
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 85px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background: linear-gradient(90deg, rgba(186,104,252,1) 20%, rgba(232,185,254,1) 50%, rgba(186,104,252,1) 80%); */
    /* background: linear-gradient(90deg, rgba(186,104,252,1) 20%, rgba(232,185,254,1) 40%, rgba(186,104,252,1) 80%); */
    /* color: white; */
}

/* ---------LOGO AREA------------ */

#project-id{
    width: 20%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

#project-id img{
    /* width: 26%; */
    height: 65px;
    margin-right: 5px;
}

#project-name-1{
    color:#BC78FF;
    font-size: 3.0rem;
    font-weight: 600;
}

#project-name-2{
    color:#43d8c9;
    font-size: 3.0rem;
    font-weight: 600;
}


/* -----------nav menu------------- */

#nav-menu{
 width: 40%;
 /* border: 1px solid red; */
 display: flex;
 align-items: center;
 justify-content: space-between;
}

#nav-menu a{
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 300;
    color:#0f0d14;
    /* padding: 1.5% 2.5%; */    
}

#nav-menu a::after{
    content: '';
    display: block;
    width:0;
    height: 2px;
    background: #0f0d14;
    transition: width .5s;
}

#nav-menu a:hover::after{
    width:100%;
    transition: width .5s;
}

.live{
    color:white;
    background: #7579e7;
    border-radius: 8%;
    padding: 8px 10px;
    /*background: linear-gradient(90deg, rgba(186,104,252,1) 20%, rgba(232,185,254,1) 140%); 
    border-radius: 8%;
    padding: 5px 10px;*/

}

/* -------------------project intro------------------------- */

#project-intro{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    height: 600px;
}

#project-desc{
    width: 38%;
    /* border: 1px solid green; */
    height: 100%;
}

#project-intro img{
    width: 58%;
}


/* --------------------corona intro------------------------ */

#corona-overview{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    height: 400px;
    color:#0f0d14;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#corona-overview img{
    width: 30%;
}

#corona-intro{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    /* justify-content: center; */
}

#corona-intro h3{
    font-size: 2.4rem;
    color:#bc78ff;
}

#corona-intro h3::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    background: rgb(67,216,201);
    background: linear-gradient(90deg, rgba(67,216,201,1) 30%, rgba(188,120,255,1) 70%);
    transition: width .5s;
}

#corona-intro h3:hover::after{
    width:100%;
    transition: width .5s;
}



#corona-intro div{
    font-size: 1.2rem;
    padding-left: 5%;
    text-align: justify;
}


/* -------------------------symptoms-------------------------------------- */

#symptoms{
    width: 100%;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

#symptoms h1{
    margin: 3%;
    font-size: 2.4rem;
    color: #43d8c9;
}

#symptoms h1::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    background: rgb(188,120,255);
    background: linear-gradient(90deg, rgba(188,120,255,1) 30%, rgba(67,216,201,1) 70%);
    transition: width .5s;
}

#symptoms h1:hover::after{
    width:100%;
    transition: width .5s;
}

#symptoms-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#symptom-icons{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

#symptom-icons img{
    width: 30%;
    padding: 4%;
}



ul{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 2.5%;
    /* border: 1px solid green; */
}

ul li{
    margin-top: 3%;
    margin-left: 4%;
}


/* -------hospital disclaimer--------- */

#hospital-disclaimer{
    width: 100%;
    padding: 0 70px;
    display: flex;
    margin: 5% 0;
}

#hospital-disclaimer img{

    width: 5%;
}

#hospital-disclaimer div{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-left: 3%;
}



/* ---------------------------transmission-------------------------- */


#transmission{
    
    width: 100%;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#transmission h1{
    margin: 0 5% 5%;
    font-size: 2.4rem;
}

#transmission h1::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    background: rgb(67,216,201);
    background: linear-gradient(90deg, rgba(67,216,201,1) 30%, rgba(188,120,255,1) 70%);
    transition: width .5s;
}

#transmission h1:hover::after{
    width:100%;
    transition: width .5s;
}


#modes{
    width: 100%;
    display: flex;
    justify-content: center;
}

.transmission-card{
    width: 25%;
    padding:4%;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.transmission-card img{
    width: 100%;
}

.transmission-card div{
    font-size: 0.8rem;
    margin-top:10%;
    text-align: center;
}


/* -----------------precautions------------------ */


#precautions{
    width: 100%;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

#precautions h1{
    margin: 5%;
    font-size: 2.4rem;
    color:#43d8c9;
}


#precautions h1::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    background: rgb(188,120,255);
    background: linear-gradient(90deg, rgba(188,120,255,1) 30%, rgba(67,216,201,1) 70%);
    transition: width .5s;
}

#precautions h1:hover::after{
    width:100%;
    transition: width .5s;
}


#precautions-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#precautions-icons{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

#precautions-icons img{
    width: 30%;
    padding: 4%;
}



ul{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 2.5%;
    /* border: 1px solid green; */
}

ul li{
    font-size: 2rem;
    margin-top: 3%;
    margin-left: 4%;
}


/* -------------------------EXPLORER --------------------------------- */


#explorer-section{
    width: 100%;
    height: 600px;
    padding: 0 70px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-image: url("/images/world_green.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

#black-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

#explorer-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#explorer-content h2{
    /* margin: 5%; */
    font-size: 3rem;
}

#explorer-content div{
    font-size: 1.5rem;
}

#explorer-content a{
    margin-bottom:7%;
}

#explorer-content a button{
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    border:none;
    cursor: pointer;
    color: white;
    background: rgb(188,120,255);
    background: linear-gradient(90deg, rgba(188,120,255,1) 30%, rgba(67,216,201,1) 70%);
    transition: width .5s;
}





