/* ---------------------nav-bar----------------------- */

nav{
    width: 100vw;
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 85px 2px 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background: linear-gradient(90deg, rgba(186,104,252,1) 20%, rgba(232,185,254,1) 50%, rgba(186,104,252,1) 80%); */
    /* background: linear-gradient(90deg, rgba(186,104,252,1) 20%, rgba(232,185,254,1) 40%, rgba(186,104,252,1) 80%); */
    /* color: white; */
}

/* ---------LOGO AREA------------ */

#project-id{
    width: 20%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

#project-id img{
    /* width: 26%; */
    height: 65px;
    margin-right: 5px;
}

#project-name-1{
    color:#BC78FF;
    font-size: 3.0rem;
    font-weight: 600;
}

#project-name-2{
    color:#43d8c9;
    font-size: 3.0rem;
    font-weight: 600;
}


/* -----------nav menu------------- */

#nav-menu{
 width: 40%;
 /* border: 1px solid red; */
 display: flex;
 align-items: center;
 justify-content: space-between;
}

#nav-menu a{
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 300;
    color:#0f0d14;
    /* padding: 1.5% 2.5%; */    
}

#nav-menu a::after{
    content: '';
    display: block;
    width:0;
    height: 2px;
    background: #0f0d14;
    transition: width .5s;
}

#nav-menu a:hover::after{
    width:100%;
    transition: width .5s;
}

.live{
    color:white;
    background: #7579e7;
    border-radius: 8%;
    padding: 8px 10px;
    /*background: linear-gradient(90deg, rgba(186,104,252,1) 20%, rgba(232,185,254,1) 140%); 
    border-radius: 8%;
    padding: 5px 10px;*/

}
